body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
}

.menu {
    background-color: #e0e0e0;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
}

    .menu a {
        text-decoration: none;
        color: #333;
        font-size: 18px;
        margin: 0 15px;
        padding: 10px 20px;
        display: inline-block;
        transition: background 0.3s;
    }

        .menu a:hover {
            background-color: #ddd;
            border-radius: 5px;
        }

.content {
    padding: 50px;
}

#wrap {
    min-height: 100%;
}

.footer {
    background-color: #e0e0e0;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    color: #333;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: -100px;
    /*Минус Высота футера*/
    height: 100px;
    /*Высота футера*/
}
